.recommendations_mainContainer {
  width: 100vw;
  position: relative;
}

.recommendations_popularSeries {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  margin-left: 5%;
}

.recommendations_posterMainContainer {
  display: flex;
  justify-content: center;
  z-index: 1;

}

.recommendations_posterContainer {
  margin: 0;
  display: flex;
  width: 90%;
  overflow-x: hidden;
}

.recommendations_posterContainer:hover {
  transform: scale(1);
}

.recommendations_posterWrapper {
  position: relative;
  z-index: 2;
  bottom: 0;
  display: flex;
  gap: 2.5rem;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  flex-wrap: nowrap;
}

.recommendations_posterWrapper>* {
  flex-shrink: 0;
}


.recommendations_posterWrapper {
  --sb-track-color: #464646;
  --sb-thumb-color: #08caec;
  --sb-size: 14px;
}

.recommendations_posterWrapper::-webkit-scrollbar {
  width: var(--sb-size);
}

.recommendations_posterWrapper::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 5px;
}

.recommendations_posterWrapper::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 5px;
}

@supports not selector(::-webkit-scrollbar) {
  .recommendations_posterWrapper {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}