.demo_mainContainer {
  width: 100vw;
  position: relative;
  padding: 4rem 0;
}

.hero_popularSeries {
  display: flex;
  justify-content: left;
  width: 80%;
  padding-left: 10%;
  gap: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.hero_popularSeries h3:hover {
  background-color: #dfdfdf6b;
}

.hero_popularSeries h3 {
  cursor: pointer;
  background-color: #bbb4b46b;
  border: #dddddd56 solid;
  border-radius: 0.5rem;
  color: #dddddd56;
}

.hero_popularSeries .active {
  color: white;
}

.demo_posterMainContainer {
  display: flex;
  justify-content: center;
  z-index: 1;

}

.demo_posterContainer {
  margin: 0;
  display: flex;
  width: 70%;
  overflow-x: hidden;
}

.demo_posterContainer:hover {
  transform: scale(1);
}

.demo_posterWrapper {
  position: relative;
  z-index: 2;
  bottom: 0;
  display: flex;
  gap: 2.5rem;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  flex-wrap: nowrap;
}

.demo_posterWrapper>* {
  flex-shrink: 0;
}


.demo_posterWrapper {
  --sb-track-color: #464646;
  --sb-thumb-color: #08caec;
  --sb-size: 14px;
}

.demo_posterWrapper::-webkit-scrollbar {
  width: var(--sb-size);
}

.demo_posterWrapper::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 5px;
}

.demo_posterWrapper::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 5px;
}

@supports not selector(::-webkit-scrollbar) {
  .demo_posterWrapper {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

@media screen and (max-width: 730px) {
  .demo_textContent {
    border: sadlebrown solid;
    width: 90%;
  }

  .demo_popularSeries {
    left: 7%;
  }

  .demo_posterContainer {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .demo_posterContainer {
    bottom: 5%;
  }

  .demo_mainImageVideo {
    width: 200%;
    transform: translateX(-50%);
  }

  .demo_popularSeries {
    top: 60%;
  }
}