.yourlistNav_mainContainer {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 3rem;
  gap: 2rem;
  width: 100vw;
  height: 70px;
  background-color: #100d22;
  z-index: 1;
}

.yourlistNav_mainContainerBack {
  position: relative;
  width: 100vw;
  height: 70px;
  background-color: rebeccapurple;
}

.yourListNav_mainLogo {
  display: block;
  font-size: x-large;
  text-shadow: 4px 4px 6px rgba(255, 255, 255, 0.5);
}

.yourlistNav_lists {
  display: flex;
  gap: 2rem;
  cursor: pointer;
}

.yourlistNav_lists h3:hover {
  color: yellowgreen;
}

@media screen and (max-width: 700px) {
  .yourlistNav_mainContainer {
    padding: 0 1rem;

  }

  .yourListNav_mainLogo {
    font-size: medium;
  }

  .yourlistNav_lists {
    font-size: small;
  }

  .yourlistNav_lists {
    gap: 1rem;
  }
}