.hero_mainContainer {
  position: relative;
  width: 100vw;
  min-height: 500px;
  height: 100vh;
  padding-bottom: 4rem;
  background-color: #000016;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero_mainImageVideo {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 0;

}

.hero_imageContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;

}

.hero_mainImageVideo div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.hero_mainImageVideo ::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0));
  z-index: 1;

}

.hero_videoContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  border: solid rgb(0, 132, 255) 1px;
  height: 100%;
  width: 100%;
  opacity: 1;

}

.hero_videoContainer video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}

.hero_textContent {
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9); */
  color: white;
  font-size: 28px;
  z-index: 2;
  margin: 10% 4rem 0 3rem;
}

.hero_popularMovies {
  display: flex;
  gap: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  z-index: 3;
  padding: 0 3rem;

}

.hero_popularMovies h3:hover {
  background-color: #dfdfdf6b;
}

.hero_popularMovies h3 {
  cursor: pointer;
  background-color: #bbb4b46b;
  border: #dddddd56 solid;
  border-radius: 0.5rem;
  color: #dddddd56;
}

.hero_popularMovies .active {
  color: white;
}

.hero_posterMainContainer {
  display: flex;
  justify-content: center;
  z-index: 4;
}

.hero_posterContainer {
  margin: 0;
  display: flex;
  bottom: 0%;
  width: 70%;
  overflow-x: hidden;
  z-index: 9;
}

.hero_posterContainer:hover {
  transform: scale(1);
}

.hero_posterWrapper {
  position: relative;
  z-index: 3;
  bottom: 0;
  display: flex;
  gap: 2.5rem;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  flex-wrap: nowrap;
}

.hero_posterWrapper>* {
  flex-shrink: 0;
}


.hero_posterWrapper {
  --sb-track-color: #464646;
  --sb-thumb-color: #00dc58;
  --sb-size: 14px;
}

.hero_posterWrapper::-webkit-scrollbar {
  width: var(--sb-size);
}

.hero_posterWrapper::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 5px;
}

.hero_posterWrapper::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 5px;
}

@supports not selector(::-webkit-scrollbar) {
  .hero_posterWrapper {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.hero_textContent h2 {
  background-image: linear-gradient(to right,
      #f6f7f8 0%,
      #7d7d7e 10%,
      #f6f7f8 20%,
      #f6f7f8 100%);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: white;
  -webkit-text-fill-color: transparent;
  animation: bgPos 3.5s linear infinite;
}


@keyframes bgPos {
  0% {
    background-position: 50% 0;
  }

  100% {
    background-position: -150% 0;
  }
}


@media screen and (max-width: 730px) {
  .hero_textContent {
    border: sadlebrown solid;
    width: 95%;
    margin: 30% 0rem 0 1rem;
    font-size: 24px;
  }

  .hero_posterContainer {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .hero_textContent {
    width: 80%;
  }

  .hero_mainImageVideo {
    width: 200%;
    transform: translateX(-50%);
  }

  .hero_popularMovies {
    padding: 0 1rem;
    gap: 2rem;
    width: 85%;
  }
}