.search_paramsAndList {
  display: flex;
  position: relative;
  width: 100vw;

}

@media screen and (max-width: 750px) {
  .search_paramsAndList {
    display: flex;
    flex-direction: column;
  }
}