.ShowingList_mainContainer {
  background-color: #555069;
  /* background-color: #9397BE; */
  position: relative;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



.list_container {
  display: flex;
  width: 98%;
}

.list_grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  justify-items: center;
  row-gap: 25px;

}

.list_btn {
  width: 100%;
  color: white;
  background-color: #100d22;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  font-size: 22px;
  border: solid white 2px;
}

@media screen and (max-width: 750px) {
  .ShowingList_mainContainer {
    width: 100%;
  }
}