.ShowingList_mainContainer {
  background-color: #10164d;
  /* background-color: #9397BE; */
  position: relative;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.list_container {
  display: flex;
  width: 98%;
  border: red solid;
}

.list_grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  justify-items: center;
  border: solid rgb(58, 141, 219);
  row-gap: 25px;

}