.SearchParameters_mainContainer {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  width: 25%;
  background-color: rgb(161, 161, 161);

}

.SearchP_title {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  transform: translateY(5%);
  font-size: 15px;
  padding: 0 1rem 0 1rem;
  cursor: pointer;
}

.SearchParameters_paramsContainer {
  width: 90%;
  height: 100%;
  border-radius: 1rem;
}

/* search container */

.SearchParameters_searchContainer {
  border: solid black 2px;
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
  background-color: gray;

}

.SearchP_search.searchOpen {
  height: 120px;
  transition: height 0.3s ease-in-out;
}

.SearchP_search {
  height: 0px;
  transition: height 0.3s ease-in-out;
}

.SearchP_search form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  padding: 0rem 1rem;
}

.searchForm_error {
  color: rgb(136, 14, 14);
  font-weight: bold;
  font-size: small;
}

/* sort container */

.SearchParameters_SortBy {
  border: solid black 2px;
  overflow: hidden;
  border-top: none;
  background-color: gray;

}

.SearchP_sort form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  padding: 0rem 1rem;
}

.SearchP_sort {
  height: 0px;
  transition: height 0.3s ease-in-out;
}

.sortOpen {
  height: 120px;
  transition: height 0.3s ease-in-out;
}

.SearchP_sort form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.5rem 1rem;
}

.sortItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* quick search */

.SearchParameters_QuickSearch {
  border: solid black 2px;
  border-radius: 0 0 1rem 1rem;
  overflow: hidden;
  border-top: none;
  background-color: gray;

}

.SearchP_quick {
  height: 0px;
  transition: height 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: start;
  gap: 0.25rem;
  padding-left: 1rem;
}

.SearchP_quick hr {
  width: 110%;
  transform: translateX(-1rem);
}

.quickOpen {
  height: 200px;
  transition: height 0.3s ease-in-out;
}

.SearchP_quick form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.5rem 1rem;

}

.quickItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quickItem button {
  cursor: pointer;
}


@keyframes rotate90 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(90deg);
  }
}

@keyframes rotate-90 {
  from {
    transform: rotate(90deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.rotate-chevron {
  animation: rotate90 0.5s forwards;
}

.return {
  animation: rotate-90 0.5s forwards;
}

@media screen and (max-width: 750px) {
  .SearchParameters_mainContainer {
    width: 100%;
    padding: 2rem 0 2rem 1rem;
  }

  .SearchP_title {
    height: 35px;
  }
}