.navbar_mainContainer {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100vw;
  padding: 0 4rem 0 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.navbar_leftSideContent h3 {
  display: block;
  font-size: x-large;
  text-shadow: 4px 4px 6px rgba(255, 255, 255, 0.5);

}

.navbar_hamburgerMenu img {
  display: none;
}

.navbar_centerContent div {
  display: none;
}

.navbar_centerContent ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  font-size: larger;
}

.navbar_centerContent ul li:hover {
  color: yellowgreen;
}

.navbar_SearchAndLogin {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 2rem;
  font-size: larger;
}

.navbar_SearchAndLogin h4:hover {
  color: yellowgreen;
  cursor: pointer;
}

.navbar_SearchAndLogin div img {
  width: 30px;
  height: 30px;
}

.navbar_watch {
  position: relative;

}

.navbar_watch h4 {
  padding: 0;
  margin: 0;
}

.navbar_watchNotificacion {
  position: absolute;
  top: -.4rem;
  right: -0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  z-index: 2;
  border-radius: 50%;
  font-size: medium;
}

.icon {
  display: none;
}

/* @media screen and (min-width: 800px) and (max-width: 1100px) {} */

@media screen and (max-width: 700px) {
  .navbar_mainContainer {
    padding: 0 2rem 0 2rem;
  }

  .navbar_centerContent div {
    display: block;
    font-size: x-large;
    font-weight: bold;
    text-shadow: 4px 4px 6px rgba(255, 255, 255, 0.5);

  }

  .navbar_leftSideContent h3 {
    display: none;
  }

  .navbar_hamburgerMenu img {
    display: block;
  }

  .navbar_centerContent ul {
    display: none;
  }

  .navbar_centerContent div {
    display: block;
  }

  .navbar_SearchAndLogin {
    margin-top: 1rem;
  }

  .word {
    display: none;
  }

  .icon {
    display: block;
  }

}

@media screen and (max-width: 500px) {
  .navbar_mainContainer {
    padding: 0.25rem 2rem 0 0rem;
  }

  .navbar_SearchAndLogin {
    gap: 1.25rem;
  }
}