.yourListMain_mainContainer {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100%;
  background-color: rgb(19, 19, 85);
  z-index: -1;
}

.yourListMain_flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: start;
  width: 90%;
  padding: 1rem;
  background-color: rgb(68, 68, 158);
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 1rem;
}

.noElementsMessage {
  font-size: larger;
  padding: 2rem;
}

@media screen and (max-width: 850px) {
  .yourListMain_flex {
    width: 95%;
  }
}

@media screen and (max-width: 600px) {
  .yourListMain_flex {
    width: 100%;
  }
}